{% set elasticsearch = salt['grains.filter_by']({
    'Debian': {
        'bind': '0.0.0.0',
        'data_path': '/var/lib/elasticsearch',
        'logs_path': '/var/log/elasticsearch',
        'node_name': salt['grains.get']('host'),
        'node_master': 'true',
        'node_data': 'true',
        'cluster_name': None,
        'clusterunicast': False,
        'clustersearch': 'elasticsearch*',
        'fielddata_cache_size': '40%',
        'fielddata_cache_expire': None,
        'index_number_of_shards': 3,
        'index_number_of_replicas': 3,
        'source': {
            'file': 'elasticsearch-1.6.2.deb',
            'path': 'https://download.elastic.co/elasticsearch/elasticsearch',
            'hash': 'sha1=4197f58c413389ddcf078e0726457564568f8a60',
        },
        'default': {
            'ES_HEAP_SIZE': '1g',
        },
        'curator': {
            'enabled': True,
            'delete_options': None,
            'optimize_options': '--older-than 3 --max_num_segments 1',
        }
    },
}, merge=salt['pillar.get']('elasticsearch', {})) %}
